.layout__fake_footer {
  width: 100%;
  height: 10vh;
  background: beige;
}

.layout__main_wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  overflow: hidden;
  width: 100%;
  height: 90vh;
  background: beige;
  position: relative;
}

.layout__wrapper_main {
  width: 100%;
  height: 90vh;
  background: beige;
  position: relative;
}


@media screen and (max-width: 850px) {
  .layout__main_wrapper {
    overflow-y: scroll;
  }
}