.navbar__main-wrapper {
  position: fixed;
  bottom: 0vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-content: center;
  align-items: center;
  overflow: hidden;
  width: 100%;
  height: 10vh;
  min-height: 60px;
  background: rgb(214, 214, 193);
  z-index: 2;
}

.navbar__links__bottom_border {
  position: relative;
  display: block;
  border-bottom: 3px solid rgb(105, 71, 71);
}

.navbar__links__bottom_border__transition { 
  transition: border-bottom 0.3s ease;
  transition: width 2s ease;
  transition: left 1s ease;
}

.navbar__link__wrapper {
  display: inline-block;
}

.navbar__link {
  margin-right: 20px;
  margin-left: 20px;
  font-size: 20px;
  text-decoration: none;
  color: black;
  transition: color 0.3s ease-in-out;
}

.navbar__link:hover {
  color: rgb(105, 71, 71);
}

.navbar__link-selected {
  color: rgb(105, 71, 71);
  /* border-bottom: 3px solid rgb(105, 71, 71); */
  /* animation-name: navbar-border;
  animation-duration: 0.5s;
  animation-fill-mode: both; */
}

/* @keyframes navbar-border {
  from { 
    border-bottom: 0px solid rgb(105, 71, 71);
  }
  to { 
    border-bottom: 3px solid rgb(105, 71, 71);
  }
} */