/* DESKTOP */

.panel__main__wrapper {
  flex-direction: column;
  text-align: center;
  align-content: center;
  align-items: center;
  max-width: 800px;
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
  bottom: 30px;
}

.panel__profile__wrapper {
  display: flex;
  flex-direction: row;
  max-width: 800px;
  overflow: auto;
}

.panel__profile__info_wrapper {
  height: 400px;
  width: 400px;
}

.panel__profile__info {
  flex-grow: 2;
  font-size: 15px;
  height: 400px;
  width: 400px;
  padding-right: 15px;
  overflow: scroll;
  display: block;
  text-align: left;
}

.panel__profile__info::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 5px;
}

.panel__profile__info::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, .2);
  box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}

.panel__profile__info::-webkit-scrollbar-corner {
  background: rgba(0,0,0,0);
}

/* MOBILE */

.panel__mobile__wrapper {
  height: 90vh;
}

.panel__mobile__content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 30px;
  align-items: center;
}