/* DESKTOP */

.panel__main__wrapper {
  flex-direction: column;
  text-align: center;
  align-content: center;
  align-items: center;
  max-width: 800px;
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
  bottom: 30px;
}

.panel__profile__wrapper {
  display: flex;
  flex-direction: row;
  max-width: 800px;
  min-height: 412px;
  overflow: auto;
}

.panel__profile__info_wrapper {
  height: 412px;
  width: 400px;
}

.panel__profile__info {
  flex-grow: 2;
  font-size: 15px;
  height: 412px;
  width: 400px;
  padding-right: 15px;
  overflow: scroll;
  display: block;
  text-align: left;
}

/* MOBILE */

.panel__mobile__wrapper {
  height: 90vh;
}

.panel__mobile__content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 30px;
  align-items: center;
}