.body__main_content {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.o__scroll {
  overflow-y: scroll !important;
}

a {
  color: rgb(122, 122, 111);
}