.body__main_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  z-index: 1;
}

.o__scroll {
  overflow-y: scroll !important;
}

a {
  color: rgb(122, 122, 111);
}

a:hover {
  color: rgb(75, 75, 68);
}

