.contact__main__wrapper {
  max-width: 800px;
  padding-left: 20px;
  padding-right: 20px;
  z-index: 5;

}

.contact__main_info {
  max-width: 500px;
  text-align: center;
}

.contact__footer_info {
  text-align: center;
  font-size: 13px;
}

.contact__social_icons__row {
  display: flex;
  flex-direction: row;
  position: relative;
  justify-content: center;
  z-index: 5;
}

.contact__social_icon__wrapper {
  /* flex-grow: 1; */
  padding-left: 5px;
  padding-right: 5px;
}

.contact__social_icon {
  cursor: pointer;
  transition: opacity 0.3s ease;
}

.contact__social_icon:hover {
  opacity: 0.7;
}