.index__main__wrapper {
  position: relative;
  top: 3vh;
}

.index__image_stack__wrapper {
  width: 100%;
}

.index__image_stack {
  display: grid;
  grid-template-rows: repeat(1, 1fr);
}

.index__image__abs {
  position: absolute;
}

.index__main-img {
  margin: -10vh auto 0vh auto;
}

/*  TITLE TEXT  */

.index__title {
  margin-top: 30px;
  text-align: center;
  opacity: 0;
  animation-name: index-title-enter;
  animation-duration: 3s;
  animation-delay: 0.1s;
  animation-fill-mode: both;
}

.index__title_name {
  font-size: 21px;
  font-weight: 500;
}

@keyframes index-title-enter {
  from { 
    opacity: 0;
    transform: translateY(30%);
  }
  to { 
    opacity: 1;
    transform: translateY(0%);
  }
}

@media screen and (max-width: 500px) {
  .index__subtitle {
    font-size: 12px;
  }
}