html {
}
body {
  margin: 0;
}

/* MAIN SECTION */

.body__main-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  overflow: auto;
  width: 100%;
  height: 90vh;
  background: beige;
}

/* HEADER */

.header__main-img {
  height: auto;
  max-width: 100%;
  width: 500px;
  margin: auto;
}

.header-enter {
  opacity: 0;
}

.header-enter.header-enter-active {
  opacity: 1;
  transition: opacity 500ms linear;
}

.header-exit img {
  opacity: 1;
}

.header-exit.header-exit-active {
  opacity: 0;
  transition: opacity 500ms linear;
}

/* NAVBAR */

.navbar__main-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  overflow: hidden;
  width: 100%;
  height: 10vh;
  min-height: 20px;
  background: rgb(214, 214, 193);
}

.navbar__link {
  margin-right: 20px;
  margin-left: 20px;
  font-size: 20px;
  text-decoration: none;
  color: black;
  transition: color 0.3s ease-in-out;
  transition: border-bottom 0.3s ease-in-out;
}

.navbar__link:hover {
  color: rgb(105, 71, 71);
  border-bottom: 3px solid rgb(105, 71, 71)
}

.navbar__link-selected {
  color: rgb(105, 71, 71);
  border-bottom: 3px solid rgb(105, 71, 71)
}