/* body {
  margin: 0;
} */

/* INDEX */

.index__main__wrapper {
  flex-direction: column;
}

.index__title {
  margin-top: 30px;
  text-align: center;
  opacity: 0;
}

.index__title_visible {
  opacity: 1 !important;
  transition: opacity 4s ease-in-out;
}

.index__title_name {
  font-size: 21px;
  font-weight: 500;
}

.index__image_stack {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  position: relative;
}

.index__main-img {
  height: auto;
  max-width: 100%;
  width: 500px;
  margin: -10vh auto 0vh auto;
  grid-column: 1;
  grid-row: 1;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.index__main_visible {
  opacity: 1 !important;
  transition: opacity 1s ease-in-out;
}

/* MUSIC */

.music__main__wrapper {
  flex-direction: column;
}

.music__grid {
  display: grid;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  position: relative;
  
}

.project__profile_item {
  display: block;
  width: 100%;
  height: 100%;
  background-color: yellow;
  transition: background-color 0.5s ease;
}

.project__profile_item:hover {
  background-color: lightblue;
  cursor: pointer;
}

/* ABOUT */

.about__main__wrapper {
  flex-direction: column;
  text-align: center;
  max-width: 800px;
  padding-left: 20px;
  padding-right: 20px;

}

.about__profile__wrapper {
  display: flex;
  flex-direction: row;
  max-width: 800px;
  position: relative;
  overflow: auto;
}

.about__profile__info_wrapper {
  height: 400px;
  width: 400px;
  position: relative;
}

.about__profile__info {
  flex-grow: 2;
  font-size: 15px;
  height: 400px;
  width: 400px;
  padding-right: 15px;
  overflow: scroll;
  position: relative;
  display: block;
  text-align: left;
}

.about__profile__info::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 5px;
}

.about__profile__info::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, .2);
  box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}

.about__profile__info::-webkit-scrollbar-track {
  background: beige; 
}

.about__profile__info::-webkit-scrollbar-corner {
  background: rgba(0,0,0,0);
}

/* CONTACT */

.contact__main_info {
  width: 500px;
}